*, *::after, *::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn {
  margin: 0;
  padding: 0;
  border: 0;
  outline: transparent;
  cursor: pointer;
}
body {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: 'Solomon Sans', sans-serif;
}
.li_list_st {
  list-style-type: none;
}
.ul {
  padding: 0;
  margin: 0;
}
.title {
  margin: 0;
}
.link {
  text-decoration: none;
}
.paragraph {
  margin: 0;
}
.link_school_dn {
  display: none;
}
/* HEADER */
.bar {
  display: none;
}
.headr_link_tabl {
  display: none;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 48px;
  padding: 0 15px;
  background-color: rgba(0, 11, 43, 0.05);
}
.header_tel_link {
  display: block;
  width: 15.75px;
  height: 15.75px;
  background: url(../images/icons/tel_icon.svg) center no-repeat;
}
.header_logo_link {
  display: block;
}
.header_logo_img {
  margin-bottom: -4px;
}
.burger_menu_link {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
}
.burger_item {
  position: absolute;
  width: 22px;
  border: 1px solid #004182;
  top: 10px;
  left: 1px;
}
.burger_item::before, .burger_item::after {
  content: "";
  display: block;
  position: absolute;
  width: 22px;
  border: 1px solid #004182;
  left: -1px;
}
.burger_item::before {
  top: 5px;
}
.burger_item::after {
  bottom: 5px;
}
/* MAIN */
.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0;
  color: #fff;
  background: url(../images/background/Bg.png) center no-repeat;
  background-size: cover;
}
.main_info_class {
  padding: 0 18% 20px 18%;
  position: relative;
  text-align: center;
}
.main_class_title {
  margin-bottom: 15px;
  padding-top: 80px;
  position: relative;
}
.main_sub_title {
  margin-bottom: 20px;
}
.title_icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(../images/icons/main_icon.svg) no-repeat center;
  width: 65px;
  height: 64px;
  z-index: 20;
}
.main_title {
  font-style: normal;
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
}
.title_text {
  display: block;
}
.title_icon::after {
  content: "";
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  background: -o-linear-gradient(225deg, #FFD028 0%, #F8522D 100%);
  background: linear-gradient(225deg, #FFD028 0%, #F8522D 100%);
  border-radius: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-flex-item-align: center;
  align-self: center;
  z-index: 10;
}
.main_info_class::after {
  content: "";
  display: block;
  position: absolute;
  width: 242px;
  height: 1px;
  left: calc(50% - 242px/2 + 11.5px);
  bottom: 0;
  opacity: 0.5;
  background: #FFFFFF;
}
.main_rating_vote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.main_class_rating {
  height: 26px;
  background: #FED530;
  border-radius: 30px;
  line-height: 26px;
  padding-left: 27px;
  padding-right: 27px;
  position: relative;
  margin-right: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #1F3C6D;
}
.main_class_rating::before {
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  background: url(../images/icons/rating_star.svg) no-repeat center;
  width: 14px;
  height: 14px;
  top: 5px;
}
.main_class_rating::after {
  content: "4.5";
  display: block;
  position: absolute;
  right: 9px;
}
.main_sub_title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 14px;
  color: #FED530;
  margin: 0px 15px 20px 15px;
}
.main_class_title {
  font-family: Solomon Sans Normal;
  font-weight: normal;
}
.main_class_voite {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FED530;
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 8px;
}
.info_course {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 30px;
}
.info_course_start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.course_less_info {
  font-family: Solomon Sans Normal;
  font-size: 16px;
  line-height: 20px;
  margin: 7.5px 15px;
  padding-left: 30px;
  position: relative;
}
.course_less_info::before {
  content: "";
  display: block;
  position: absolute;
  left: 1px;
  top: 0;
  height: 100%;
}
.course_less::before {
  background: url(../images/icons/clock.svg) no-repeat center;
  width: 18px;
}
.course_leswek::before {
  background: url(../images/icons/Duration.svg) no-repeat center;
  width: 20px;
}
.course_start::before {
  background: url(../images/icons/Start.svg) no-repeat center;
  width: 20px;
}
.course_week {
  margin-top: 12px;
  padding: 0 15%;
  text-align: center;
}
.per_week_title {
  margin: 5px 5px;
  font-family: Solomon Sans Normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
}
.per_week {
  display: block;
  margin-left: 4px;
  color: #58f200;
}
.button_consultation {
  padding: 10px 25px;
  outline: transparent;
  border: transparent;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background: #4ED401;
  border-radius: 10px;
  cursor: pointer;
}
.btn_marg {
  margin-top: 25px;
}
.header_navigate {
  display: none;
}
.header_logo_img_tabl {
  display: none;
}
/* Intro_Course */
.intro_title_course {
  padding: 60px 30px 0 30px;
}
.intro_title {
  font-family: Solomon Sans Normal;
  font-weight: normal;
  font-size: 30px;
  color: #000000;
  line-height: 40px;
  margin-bottom: 15px;
}
.intro_paragraph {
  font-family: Solomon Sans Normal;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  margin: 15px 0;
}
.intro_course_goal {
  color: #3462AB;
  font-weight: bold;
}
.paragraph_goal {
  font-family: Solomon Sans Normal;
  font-weight: normal;
}
.course_block {
  padding: 30px;
  background: #F0FEE1;
  margin-bottom: 15px;
}
.text_course {
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
}
.intro_course_goal:last-child {
  margin-bottom: 15px;
}
.span_test_paragraph {
  font-family: Solomon Sans Normal;
  font-weight: normal;
}
.intro_course_parag {
  margin-bottom: 20px;
}
.intro_course_test_para {
  margin-bottom: 20px;
}
.intro_course_button {
  padding: 10px 25px;
  background: #4ED401;
  border-radius: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}
.intro_title_span {
  display: block;
}
.info_course_wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* Study Technologies */
.study_technolog_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 30px 45px 30px;
}
.technolog_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.study_technolog_title {
  font-weight: bold;
  font-size: 14px;
  color: #8D949E;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 21px;
}
.study_techno_title_block {
  margin-bottom: 15px;
}
.technolog_list_item {
  margin: 15px 20px;
}
.link_technology {
  display: block;
  position: relative;
  padding-bottom: 30px;
}
.technology_img_sz {
  width: 64px;
  height: 64px;
}
.techno_img {
  margin-bottom: -4px;
}
.techno_img_name {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  font-family: Solomon Sans Normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #6B6D72;
  width: 100%;
}
.techno_item_destop {
  display: none;
}
/* Our Teacher */
.our_teachers {
  background-color: #FAFAFA;
}
.teacher_title_block {
  max-width: 315px;
  padding: 30px 0 25px 0;
}
.our_teachers_title {
  font-family: Solomon Sans Normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 10px;
  color: #000000;
}
.our_teachers_paragraph {
  font-family: Solomon Sans Normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.our_teachers_wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 25px;
}
.link_teacher_img {
  display: block;
  position: relative;
}
.images_teacher {
  margin-bottom: -4px;
  width: 100%;
  max-width: 345px;
  height: 200px;
}
.link_teacher_img::before {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  background: url(../images/icons/More_photo_teacher.svg) no-repeat center;
  width: 24px;
  height: 24px;
}
.teacher_name {
  margin-bottom: 10px;
  margin-top: 15px;
  font-family: Solomon Sans Normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #000;
}
.teacher_position {
  display: block;
  font-family: Solomon Sans Normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.techers_info_block {
  background: #fff;
  margin-bottom: 25px;
  max-width: 345px;
}
.teacher_company {
  position: relative;
}
.teacher_company::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 120px;
  height: 50px;
}
.techers_info_block:nth-child(1) .teacher_company::before {
  background: url(../images/company/teacher1_company.png) no-repeat center;
}
.teacher_info {
  padding: 0 15px 90px 15px;
}
.button_slider_teacher {
  width: 12px;
  height: 12px;
  background: #E3E5E8;
  border-radius: 10px;
}
.teach_slid_btn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.teach_slid_list {
  margin: 5px 7.5px;
}
.slide_btn_active {
  background: #ACB6C5;
}
.teacher_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.techers_info_block {
  display: none;
}
.techers_info_block:nth-child(1) {
  display: block;
}
.word_pre {
  display: block;
}
/* Media Query tablet 768 */
@media (min-width: 768px) {
 /* Header */
  .bar {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      right: 0;
      z-index: 50;
      background-color: #002256;
 }
  .bar_container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 4px 20px;
 }
  .bar:before {
      content: "";
      display: block;
      position: absolute;
      background: rgba(0, 0, 0, 0.3);
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
 }
  .bar_city_container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
 }
  .bar_city_link {
      font-weight: bold;
      font-size: 12px;
      color: #fff;
      position: relative;
 }
  .link_city {
      padding: 5.5px 6px;
 }
  .link_city::before {
      content: "";
      display: block;
      position: absolute;
      top: 11px;
      right: -10px;
      width: 16px;
      height: 1px;
      background-color: #fff;
      opacity: .2;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
 }
  .link_city:last-child:before {
      display: none;
 }
  .bar_online_block {
      margin-left: 7px;
 }
  .bar_tel_lang {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
 }
  .bar_city_link {
      text-transform: capitalize;
 }
  .bar_tel_link {
      padding: 4px 5px 4px 29px;
      margin-right: 17px;
      font-weight: bold;
      font-size: 12px;
      color: #fff;
      position: relative;
 }
  .link_language {
      color: #FFFFFF;
      font-weight: bold;
      font-size: 12px;
      text-transform: capitalize;
      margin: 0 1px;
      line-height: 15px;
      padding: 3.5px 10px;
      border-radius: 6px;
 }
  .link_language_active {
      padding: 3.5px 10px;
      background: rgba(255, 255, 255, 0.25);
      border-radius: 6px;
 }
  .bar_tel_link::before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      background: url(../images/icons/bar_tel.svg) no-repeat center;
      left: 5px;
      top: 2px;
 }
  .bar_online {
      padding: 4px 10px;
      width: 65px;
      height: 22px;
      display: inline-block;
      vertical-align: middle;
      background: rgba(255, 255, 255, 0.25);
      border-radius: 6px;
      margin: 0 2px;
 }
  .bar_online::before {
      content: "";
      display: block;
      position: absolute;
      background: url(../images/icons/OnlineOnly.svg) no-repeat center;
      width: 45px;
      height: 14px;
 }
  .header_navigate {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 9px;
 }
  .header {
      position: absolute;
      right: 0;
      left: 0;
      top: 45px;
      padding: 10px 30px;
      background: transparent;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
 }
  .header_logo_img {
      display: none;
 }
  .header_logo_img_tabl {
      display: block;
 }
  .header_tel_block {
      display: none;
 }
  .header_burber_container {
      display: none;
 }
  .header_navigate_ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
 }
  .header_navigate_link {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: #fff;
      margin: 15px 0;
 }
  .button_header_consult {
      -ms-flex-item-align: start;
      align-self: flex-start;
 }
  .link_menu_drop {
      padding: 0 14px 0 2px;
      position: relative;
      padding: 4px 24px 4px 9px;
      border-radius: 10px;
 }
  .link_menu_drop::before {
      content: "";
      display: block;
      position: absolute;
      width: 10px;
      height: 5px;
      background: url(../images/icons/menu_drop_btn_icon.svg) no-repeat center;
      right: 9px;
      top: 16px;
 }
  .btn_nav_consult_sz {
      padding: 7px 15px;
      height: 32px;
      font-size: 14px;
      display: none;
 }
  .button_header_consult {
      text-transform: capitalize;
      padding: 7px 15px;
      color: #FFFFFF;
      background: #4ED401;
      font-weight: bold;
      font-size: 14px;
      border-radius: 8px;
 }
  .list_margin {
      margin: 5px 15px;
 }
  .btn_reset {
      margin-right: 0;
      margin-top: 3px;
 }
  .li_item {
      margin-left: 0;
      position: relative;
      margin-right: 5px;
 }
  .menu_dropdown {
      top: 40px;
      position: absolute;
      background: #FFFFFF;
      border: 1px solid rgba(141, 148, 158, 0.2);
      -webkit-box-shadow: 0px 10px 25px rgba(0, 24, 75, 0.15);
      box-shadow: 0px 10px 25px rgba(0, 24, 75, 0.15);
      border-radius: 10px;
      min-width: 210px;
      z-index: 200;
      opacity: 0;
      visibility: hidden;
 }
  .sub_title_course {
      display: block;
      font-weight: bold;
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ACB6C5;
 }
  .title_course_name {
      font-family: Solomon Sans Normal;
      font-size: 14px;
      line-height: 18px;
      font-weight: normal;
      color: #004182;
      text-transform: capitalize;
      display: block;
      padding-right: 35px;
      position: relative;
 }
  .link_drop_menu_li {
      padding: 15px 50px 15px 15px;
 }
  .title_course_name:before {
      content: "";
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 100px;
      right: 15px;
      top: 14px;
 }
  .link_school_info {
      text-transform: unset;
 }
  .drop_menu_img_html::before {
      background: url(../images/icons/html5_icon.svg) no-repeat center;
 }
  .drop_menu_img_js::before {
      background: url(../images/icons/Js_icon.svg) no-repeat center;
 }
  .drop_menu_img_java::before {
      background: url(../images/icons/java_icon.svg) no-repeat center;
 }
  .drop_menu_img_qa::before {
      background: url(../images/icons/qa_icon.svg) no-repeat center;
 }
  .drop_menu_img_smm::before {
      background: url(../images/icons/smm_icon.svg) no-repeat center;
 }
  .menu_drop_item:hover {
      background: #F1FAFE;
      -webkit-transition: background-color .3s ease;
      -o-transition: background-color .3s ease;
      transition: background-color .3s ease;
 }
  .menu_drop_item:first-child:hover {
      border-radius: 10px 10px 0px 0px;
 }
  .menu_drop_item:last-child:hover {
      border-radius: 0px 0px 10px 10px;
 }
  .li_menu_drop {
      border-bottom: 20px solid transparent;
 }
  .li_item:hover > .menu_dropdown {
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity, visibility .5s ease;
      -o-transition: opacity, visibility .5s ease;
      transition: opacity, visibility .5s ease;
 }
  .li_item:hover .link_menu_drop, .link_menu_hov:hover {
      background: rgba(238, 239, 241, 0.6);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      border-radius: 10px;
      -webkit-transition: background-color .5s ease;
      -o-transition: background-color .5s ease;
      transition: background-color .5s ease;
 }
  .main_class_title {
      font-size: 50px;
      line-height: 60px;
 }
  .title_text {
      font-size: 50px;
      line-height: 60px;
 }
  .link_school {
      padding-right: 0;
 }
  .link_menu_hov {
      padding: 5px 9px;
 }
  .nav_list--not_drop {
      margin: 5px 6px;
 }
 /* Main */
  .main_content {
      padding-top: 140px;
      background: url(../images/background/Bg_tabl.png) center 3px no-repeat;
      background-size: cover;
 }
  .main_info_class {
      padding: 0 10% 59px 10%;
 }
  .info_course {
      padding-top: 50px;
 }
  .course_less_info {
      font-size: 18px;
 }
  .per_week_title {
      font-size: 16px;
 }
  .course_week {
      margin-top: 10px;
      padding: 0 10%;
 }
  .link_course {
      padding-bottom: 5px;
      -webkit-transition: background-color .3s ease;
      -o-transition: background-color .3s ease;
      transition: background-color .3s ease;
 }
  .symbol {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.3);
      margin: 10px 10px;
 }
 /* Intro_Course */
  .course_block {
      border-radius: 12px;
      margin-bottom: 30px;
 }
  .info_course_wrapp {
      margin: 0 30px;
 }
  .intro_title_course {
      padding: 90px 30px 15px 30px;
 }
  .intro_title {
      font-size: 50px;
      line-height: 54px;
      margin-bottom: 30px;
 }
 /* Study Technologies */
  .study_technolog_block {
      padding-top: 45px;
      padding-right: 88px;
      padding-left: 88px;
      padding-bottom: 90px;
 }
  .technolog_list_item {
      margin: 15px 27px;
 }
 /* Teachers Info */
  .techers_info_block {
      margin: 5px 15px 25px 15px;
      max-width: 339px;
 }
  .link_teacher_img {
      overflow: hidden;
 }
  .techers_info_block:nth-child(2) {
      display: block;
 }
  .teacher_block_hover {
      -webkit-transition: -webkit-box-shadow .3s ease;
      transition: -webkit-box-shadow .3s ease;
      -o-transition: box-shadow .3s ease;
      transition: box-shadow .3s ease;
      transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
 }
  .teacher_block_hover:hover {
      -webkit-box-shadow: 0px 15px 30px #DCDFE4;
      box-shadow: 0px 15px 30px #DCDFE4;
 }
  .techers_info_block:nth-child(2) .teacher_company::before {
      background: url(../images/company/teacher2_company.png) no-repeat center;
 }
  .techers_info_block:nth-child(3) .teacher_company::before {
      background: url(../images/company/teacher3_company.png) no-repeat center;
 }
  .teacher_title_block {
      max-width: 100%;
      padding-top: 60px;
 }
  .images_teacher {
      max-width: 339px;
 }
  .teacher_position {
      line-height: 22px;
 }
  .teacher_info {
      padding-bottom: 115px;
      padding-top: 4px;
 }
  .teacher_company::before {
      bottom: 30px;
 }
}
/* Media Query tablet 1024 */
@media (min-width: 1024px) {
 /* Header */
  .headr_link_tabl {
      display: block;
 }
  .button_header_consult {
      display: none;
 }
 /* Main */
  .main_content {
      background: url(../images/background/Bg_tabl_1024.png) center 3px no-repeat;
      background-size: cover;
      padding-bottom: 90px;
 }
 /* Intro_Course */
  .course_block {
      padding: 30px;
      margin: 0 93px;
 }
  .info_course_wrapp {
      margin: 0 104px 15px 104px;
 }
  .intro_title_course {
      padding-right: 122px;
      padding-left: 122px;
 }
 /* Study Tehnology */
  .study_technolog_block {
      max-width: 870px;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
 }
 /* Teachers Info */
  .techers_info_block:nth-child(3) {
      display: block;
 }
  .techers_info_block:nth-child(4) {
      display: block;
 }
  .techers_info_block {
      width: calc(25% - 37px);
 }
  .images_teacher {
      width: 100%;
 }
  .our_teachers_title {
      font-size: 30px;
      line-height: 36px;
 }
  .teacher_title_block {
      -ms-flex-item-align: start;
      align-self: flex-start;
      padding-right: 6%;
      padding-left: 6%;
 }
}
/* Media Query tablet 1280 */
@media (min-width: 1280px) {
 /* Header */
 /* Main */
  .main_content {
      background: url(../images/background/Bg_dest_min.png) center 3px no-repeat;
      background-size: cover;
 }
 /* Intro_Course */
  .info_course_wrapp {
      margin: 0 239px 15px 239px;
 }
  .intro_title_course {
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 30px;
 }
  .course_block {
      margin: 0;
 }
 /* Study Technology */
  .study_technolog_block {
      margin: 0 auto;
      max-width: 800px;
 }
 /* Teacher Info */
  .teacher_title_block {
      -ms-flex-item-align: center;
      align-self: center;
      padding-right: 0%;
      padding-left: 0%;
      max-width: 1160px;
      width: 100%;
 }
}
/* Media Query tablet 1920 */
@media (min-width: 1920px) {
 /* Header */
  .wrapper {
      max-width: 1440px;
      margin-left: auto;
      margin-right: auto;
 }
  .header {
      width: 100%;
 }
  .bar_container {
      padding-right: 35px;
      padding-left: 25px;
 }
 /* Main */
  .main_content {
      background: url(../images/background/Bg_dest_min.png) center 28px no-repeat;
      background-size: cover;
      padding-top: 212px;
      padding-bottom: 235px;
 }
 /* Intro_Course */
  .info_course_wrapp {
      max-width: 910px;
      margin-left: auto;
      margin-right: auto;
 }
 /* Study Technology */
  .study_technolog_block {
      margin: 0 auto;
      max-width: 910px;
 }
  .techno_item_destop {
      display: block;
 }
 /* Teacher Info */
  .our_teachers_wrapp {
      max-width: 1440px;
      margin: 0 auto;
 }
  .teacher_title_block {
      -ms-flex-item-align: start;
      align-self: flex-start;
      padding-left: 60px;
 }
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .main_content {
      background: url(../images/background/destop@2x.png) center 5px no-repeat;
      background-size: cover;
 }
}
