*,
*::after,
*::before {
    box-sizing: border-box;
}
.link {
    text-decoration: none;
}
.list_item {
    list-style-type: none;
}
.list,
.list_item,
.title,
.paragraph {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}
body {
    padding: 0;
    font-family: "Lato", sans-serif;
}
.burger_conteiner {
    display: none;
}
.wrapper {
    max-width: 1145px;
    margin: 0 auto;
}
.btn_default {
    cursor: pointer;
    padding: 11px 42px;
    border: 2px solid #ffc517;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    transition: 0.3s linear;
}
.btn_default:hover {
    background-color: #ffc517;
    color: #fff;
}
.wrapper_serv {
    max-width: 1170px;
    margin: 0 auto;
}
.main_header {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 39px;
    z-index: 100;
}
.link_logo {
    display: block;
}
.nav_list {
    display: flex;
    justify-content: center;
}
.list_item {
    margin: 0 20px;
}
.list_link {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}
.list_link::before {
    content: "";
    visibility: hidden;
    opacity: 0;
    width: 0%;
    height: 2px;
    background-color: #ffc517;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: 0.3s linear;
}
.list_link:hover::before,
.link_active::before {
    visibility: visible;
    width: 100%;
    opacity: 1;
}
.header_email {
    margin-right: 43px;
}
.main_btn {
    padding: 9px 42px;
}
.header_btn_active {
    background-color: #ffc517;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    box-shadow: 2px 7px 21px rgba(19, 19, 19, 0.24);
}
.header_btn_active:hover {
    background-color: #fff;
    color: #333;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    font-size: 0;
    width: 30px;
    height: 2px;
    background-color: #959595;
    border-radius: 0;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: #ffc517;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    padding-bottom: 57px;
}
.slider_block_btn {
    position: absolute;
    top: 69%;
    right: 10%;
    z-index: 10;
}
.advantages {
    padding: 180px 0 180px 0;
}
.title_block {
    margin-bottom: 120px;
    text-align: center;
}
.section_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    position: relative;
}
.section_title::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    background-color: #ffc517;
}
.advantages_conteiner_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.advantages_item {
    max-width: 655px;
    padding-left: 90px;
    position: relative;
    color: #272726;
    margin-bottom: 60px;
}
.advantages_item::before {
    content: "";
    display: block;
    position: absolute;
    width: 58px;
    height: 58px;
    background: url(../img/decoration/pen.png) no-repeat center/cover;
    left: 0;
    bottom: 5px;
}
.advantes_individuality::before {
    background: url(../img/decoration/pen.png) no-repeat center/cover;
}
.advantes_only_eco::before {
    background: url(../img/decoration/Layer.png) no-repeat center/cover;
    width: 59px;
    height: 51px;
}
.advantes_design_quality::before {
    background: url(../img/decoration/diamond.png) no-repeat center/cover;
}
.advantages_item_title {
    font-size: 24px;
    font-weight: 400;
    line-height: 56px;
    margin-bottom: 15px;
}
.advantages_item_paragraph {
    font-family: "Fira Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
.services {
    padding: 160px 0 185px 0;
    background-color: #f2f2f2;
}
.services_item {
    margin-bottom: 30px;
    max-width: 270px;
    color: #272726;
    transition: 0.3s linear;
}
.services_item:hover {
    box-shadow: 4px 11px 27px rgba(137, 137, 137, 0.24);
}
.services_item_body {
    min-height: 225px;
    border: 1px solid #ffffff;
    padding: 25px 25px 24px 25px;
    display: flex;
    flex-direction: column;
}
.services_img {
    display: block;
}
.services_item_title {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.services_item_paragraph {
    flex: 1;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}
.services_item_more {
    align-self: flex-end;
    padding-right: 45px;
    font-size: 14px;
    font-weight: 700;
    color: #272726;
    position: relative;
}
.services_item_more::before {
    content: "";
    position: absolute;
    width: 34px;
    height: 5px;
    background: url(../img/Shape_1.svg) no-repeat;
    bottom: 5px;
    right: 0;
}
.services_items_conteiner {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about_us {
    padding: 205px 0 150px 0;
    position: relative;
}
.about_us::before,
.about_us::after {
    content: "";
    position: absolute;
    width: 405px;
    height: 392px;
    bottom: 50%;
    transform: translateY(60%);
    z-index: -1;
}
.about_us::before {
    background: url(../img/Layer_13.jpg) no-repeat;
    left: 0;
}
.about_us::after {
    background: url(../img/Saturation_4.jpg) no-repeat;
    right: 0;
}
.about_us_conteiner {
    display: flex;
    flex-direction: column;
    max-width: 570px;
    margin: 0 auto;
}
.about_us_paragraph {
    font-family: "Fira Sans", sans-serif;
    color: #272726;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
}
.about_company_name {
    padding-right: 5px;
    font-weight: 600;
}
.about_us .title_block {
    margin-bottom: 90px;
}
.about_us_btn {
    align-self: center;
}
footer {
    background-color: #f2f2f2;
}
.footer {
    padding: 90px 0 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer_list {
    position: relative;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.footer_list::after {
    content: "";
    position: absolute;
    top: 0;
    width: 78px;
    height: 5px;
    background-color: #ffc517;
}
.footer_logo {
    width: 166px;
    height: 72px;
}
.social_link .social_telegram {
    width: 20px;
    height: 18px;
}
.social_link .social_twitter {
    width: 18px;
    height: 16px;
}
.social_link .social_facebook {
    width: 11px;
    height: 21px;
}
.social_link {
    margin: 5px 0;
}
.footer_list_item,
.footer_email {
    margin: 10px 0;
}
.btn_go_top {
    display: block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    border: 3px solid #ffc517;
    padding: 0;
    position: relative;
}
.btn_go_top::before {
    content: "";
    position: absolute;
    background: url(../img/arrow.svg) no-repeat center;
    width: 70px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
}
.btn_go_top:hover {
    background-color: #fff;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main_header {
        justify-content: space-evenly;
        padding-top: 30px;
    }
    .btn_default {
        padding: 9px 40px;
    }
    .wrapper {
        max-width: 730px;
    }
    .list_item {
        margin: 0 10px;
    }
    .header_email {
        margin-right: 10px;
    }
    .advantages,
    .services,
    .about_us {
        padding: 100px 0;
    }
    .advantages_conteiner_content {
        justify-content: center;
    }
    .services_items_conteiner {
        justify-content: space-evenly;
    }
    .services_item {
        margin-right: 10px;
        margin-left: 10px;
    }
    .about_us {
        overflow: hidden;
    }
    .about_us::before {
        left: -180px;
    }
    .about_us::after {
        right: -180px;
    }
    .footer {
        padding: 50px 0 50px 0;
        justify-content: space-evenly;
    }
    .footer_list::after {
        width: 50px;
    }
    .btn_go_top {
        padding: 0;
    }
    .footer_list_item {
        margin: 5px 0;
    }
    .advantages_img_block {
        width: 300px;
    }
}
@media (max-width: 1225px) {
    .wrapper_serv,
    .wrapper {
        max-width: 990px;
    }
    .advantages_content {
        margin: 0 30px;
    }
    .advantages_conteiner_content {
        justify-content: center;
    }
    .header_btn {
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .burger_conteiner {
        display: block;
    }
    .nav_list .list_item {
        margin: 10px auto;
    }
    .nav_list_sec {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        transition: .3s linear;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(500px);
    }
    .menu_active {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        background-color: #fff;
    }
    .burger_menu.active .burger_line {
        height: 0;
    }
    .burger_menu.active .burger_line::after {
        top: 0;
        transform: rotate(45deg);
    }.burger_menu.active .burger_line::before {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu_active .header_email{
        margin-right: 0;
    }
    .advantages,
    .services,
    .about_us {
        padding: 75px 0;
    }
    .list_item {
        margin: 0 5px;
    }
    .main_header .link_logo {
        width: 60px;
        position: relative;
        z-index: 10;
    }
    .main_btn {
        padding: 3px 12px;
        font-size: 12px;
    }
    .main_header {
        position: fixed;
        top: 0;
        width: 90%;
        padding-top: 10px;
        justify-content: space-between;
    }
    .burger_menu {
        display: flex;
        z-index: 10;
        position: relative;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
    }
    .burger_line {
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: rgba(0, 0, 0, 0.473);
        transition-delay: .2s;
        transition: .1s;
    }
    .burger_line::after,
    .burger_line::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: rgba(0, 0, 0, 0.473);
        transition: .5s;
    }
    .burger_line::after {
        top: -6px;
    }
    .burger_line::before {
        top: 6px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        padding-bottom: 5px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        width: 15px;
    }
    .title_block {
        margin-bottom: 90px;
    }
    .section_title {
        font-size: 20px;
    }
    .advantages_content {
        width: 90%;
        margin: 0;
    }
    .advantages_item {
        padding-left: 0;
        padding-top: 60px;
    }
    .advantages_item::before {
        width: 46px;
        height: 44px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .advantes_only_eco::before {
        width: 47px;
    }
    .advantages_item_title {
        font-size: 17px;
    }
    .advantages_item_paragraph {
        font-size: 15px;
    }
    .advantages_img_block {
        display: none;
    }
    .advantages_item:last-child {
        margin-bottom: 0;
    }
    .about_us_conteiner {
        width: 90%;
    }
    .about_us::before,
    .about_us::after {
        display: none;
    }
    .footer {
        width: 90%;
        padding: 45px 0;
        flex-direction: column;
        align-items: center;
    }
    .footer .header_logo {
        margin-bottom: 30px;
    }
    .footer_list {
        align-self: flex-start;
        margin-bottom: 10px;
    }
    .footer_social_block {
        flex-direction: row;
        align-items: center;
    }
    .footer_social_block .social_link {
        margin: 0 5px;
    }
}
